<mat-card fxFill class="data-card" fxLayout="column">
    <mat-card-header>
        <mat-card-title>
            <div fxLayout="row">
                <span fxFlex="initial" class="headerButtonSmall">Über


                </span>


            </div>

        </mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="125px">Version</div>
            <div fxFlex>{{version}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="125px">Build</div>
            <div fxFlex>{{build}}</div>
        </div>


    </mat-card-content>
</mat-card>